# 시리즈 만들기

In [3]:
import pandas as pd

sd1 = pd.Series(['Dog','Cat','Tiger','Lion','Monkey'],index = ['강아지','고양이','호랑이','사자','원숭이'])

print(sd1)

강아지       Dog
고양이       Cat
호랑이     Tiger
사자       Lion
원숭이    Monkey
dtype: object

# 딕셔너리 만들기

In [6]:
import pandas as pd

dict_data = {'a':1,'b':2,'c':3}
sd2 = pd.Series(dict_data)

print(type(sd2))

print(sd2)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

# 딕셔너리 만들기 2

In [7]:
import pandas as pd

dict_data = {'동물':['Dog','Cat','Tiger','Lion','Monkey'],'나이':[7,9,2,3,1]}
df1 = pd.DataFrame(dict_data)

type(df1)

# print(df1) 인덱스가 동물이 아닌 숫자로 나옴
print(df1.set_index('동물'))

        나이
동물
Dog      7
Cat      9
Tiger    2
Lion     3
Monkey   1

In [9]:
# 연습

dict_data = {'동물':['인간','원숭이','사자','호랑이','강아지'],'나이':['3','4','5','6','7'],'성별':['남','여','여','남','여']}

df1 = pd.DataFrame(dict_data)

print(type(df1))

print(df1)

<class 'pandas.core.frame.DataFrame'>
    동물 나이 성별
0   인간  3  남
1  원숭이  4  여
2   사자  5  여
3  호랑이  6  남
4  강아지  7  여

# 리스트 만들기

In [8]:
import pandas as pd

list_data = pd.Series(['Dog','Cat','Tiger','Lion','Monkey'],index=['강아지','고양이','호랑이','사자','원숭이'])

sd3 = pd.Series(list_data)

sd3

강아지       Dog
고양이       Cat
호랑이     Tiger
사자       Lion
원숭이    Monkey
dtype: object

In [8]:
import pandas as pd

df2 = pd.DataFrame([['Dog','7'],['Cat','9'],['Tiger','2'],['Lion','3'],['Monkey','1']],
                  index = ['0','1','2','3','4'],columns=['동물','나이'])

print(df2)

       동물 나이
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1

# 튜플 만들기

In [9]:
import pandas as pd

tup_data = ('이순신','1991-03-15','남')

sd4 = pd.Series(tup_data,index=['이름','생년월일','성별'])

sd4

이름             이순신
생년월일    1991-03-15
성별               남
dtype: object