In [1]:
meet = 0
while meet <4: #유비가 제갈량을 방문횟수가 4보다 작을 동안 방문합니다
    meet = meet+1 # 방문횟수 증가
    print("유비가 %d번 방문 했습니다."% meet)
    if meet ==3: #세 번 만났기 때문에 방문을 종료함
        print("제갈량이 유비 곁으로 갑니다.")
        break # while문을 빠져나온다

유비가 1번 방문 했습니다.
유비가 2번 방문 했습니다.
유비가 3번 방문 했습니다.
제갈량이 유비 곁으로 갑니다.

In [2]:
member = """

1.유비

2.관우

3.장비

4.제갈량

숫자를 입력하시오 : """

num = 0
while num!=4:
    print(member) 
    num = int(input()) # 4나오면 정지

1.유비

2.관우

3.장비

4.제갈량

숫자를 입력하시오 :
4

In [7]:
i = 1
while i <11:
    print("파이썬"+str(i))
    i=i+1

파이썬1
파이썬2
파이썬3
파이썬4
파이썬5
파이썬6
파이썬7
파이썬8
파이썬9
파이썬10

In [8]:
str = "파이썬 프로그래밍"

for ch in str:
    print(ch)

파
이
썬

프
로
그
래
밍

# for

In [3]:
tempList=['유비','관우','장비','제갈량']
for i in tempList:
    print(i)

유비
관우
장비
제갈량

In [4]:
i =[(1,2),(3,4),(5,6)]
for (first,last) in i:
    print(first+last)

3
7
11

In [5]:
sum = 0

for a in range(1,5):
    sum = sum+a
print(sum)

10

In [6]:
for a in range(2,10):
    for b in range(1,10):
        print(a,"*",b,"=",a*b)
        if b ==9:
            print("\n")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# break / continue

In [10]:
for col in range(2,10):
    if col >5:
        break
    for row in range(1,10):
        print(col,"x",row,"=",col*row)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [11]:
for n in range(1,11):
    if n %2 ==0:
        continue
    print(n,"은 홀수 입니다.")

1 은 홀수 입니다.
3 은 홀수 입니다.
5 은 홀수 입니다.
7 은 홀수 입니다.
9 은 홀수 입니다.