In [1]:
result = [88,30,61,55,95]

for i in range(0,5):
    if result[i] >=60:
        ispass = '합격'
    else:
        ispass = '불합격'
    print("%d 번 학생은 %d점으로 %s입니다"%(i+1,result[i],ispass))

1 번 학생은 88점으로 합격입니다
2 번 학생은 30점으로 불합격입니다
3 번 학생은 61점으로 합격입니다
4 번 학생은 55점으로 불합격입니다
5 번 학생은 95점으로 합격입니다

In [2]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
for i in range(1,101):
    if not(i&1):
        print(i,end=",")

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [6]:
result = ""
for i in range(1,101):
    if i &1:
        result+="%d,"%i
print(result[0:len(result)-2])

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,9

In [7]:
result = 0

for i in range(1,101):
    if not(i%3):
        result +=i
        
print("1부터 100사이의 숫자 중 3의배수의 총합:{0}".format(result))

1부터 100사이의 숫자 중 3의배수의 총합:1683

In [9]:
#딕셔너리 구조사용
result ={"A":0,"B":0,"AB":0,"O":0}
students = ['A','A','A','O','B','B','O','AB','AB','O']

# 반복문을 돌면서 딕셔너리 값 증가
for s in students:
    result[s]+=1
print("{'A':%d,'O':%d,'B':%d,'AB':%d}"%(result["A"],result["O"],result["B"],result["AB"]))

{'A':3,'O':3,'B':2,'AB':2}

In [10]:
students = [85,65,77,83,75,22,98,88,38,100]
result = 0
# 길이가0이 될때까지 반복

while len(students):
    
    #원소를 하나꺼내서 K에 넣는다, 길이가 1감소됨
    k=students.pop()
    
    #원소가 90보다 크다면 결과값에 더한다
    if k>=80:
        result+=k
print(result)

454

In [11]:
i = 5
while i:
    print("*"*i)
    i-=1

*****
****
***
**
*

In [16]:
i,k=7,0
while i>=0:
    print("{0}{1}".format((""*k),("*"*i)))
    i-=2
    k+=1

*******
*****
***
*

### 어떤 한 양의 정수를 입력하여 그 숫자에 0~9가 몇 번 사용되었는지 표시하십시오.

In [25]:
##### 횟수를 저장하는 리스트 생성
array =[0]*10
num = int(input())
result=""

# num이 0이 될때까지 반복하며 숫자체크
while num:
    array[num%10]+=1
    num//=10
    
#0~9 까지 출력
for i in range(0,10):
    result+="%d "%i
print(result[0:len(result)-1])

#변수 초기화
result=""
#나온횟수 출력하기
for i in range(0,10):
    result+="%d "%array[i]
print(result[0:len(result)-1])

50
0 1 2 3 4 5 6 7 8 9
1 0 0 0 0 1 0 0 0 0

In [26]:
for i in range(1,6):
    print("{0}{1}".format(""*(5-i),"*"*i))

*
**
***
****
*****

In [28]:
a = int(input())
#a를 2진수로 변환
#o는 8진수 x는 16진수 X는 대문자 16진수
print(format(a, 'b'))

6
110